.App {
  position: relative;
  text-align: center;
  padding-bottom: 450px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-size: cover;
  background-image: url("images/default.jpg");
}

.container{
  background-color: white;
  border-radius: 20px;
}

.cards {
  color: white;
  text-shadow: 0px 0px 3px black;
}

.wi {
  filter:drop-shadow(0px 0px 15px white);
}

.Thunderstorm {
  background-image: url("images/thunderstorm.jpg");
}

.Drizzle {
  background-image: url("images/drizzle.jpg");
}

.Rain {
  background-image: url("images/rain.jpg");
}

.Snow {
  background-image: url("images/snow.jpg");
}

.Atmosphere {
  background-image: url("images/atmosphere.jpg");
}

.Clear {
  background-image: url("images/clear.jpg");
}

.Clouds {
  background-image: url("images/clouds.jpg");
}