.App {
  position: relative;
  text-align: center;
  padding-bottom: 450px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-size: cover;
  background-image: url("images/default.jpg");
}

.wrap-app{
  background: linear-gradient(rgba(115, 255, 87, 0) 0%, rgba(101, 255, 87, 0.3) 100%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 710px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  color: white;
  text-shadow: 0px 0px 3px black;
}

.display-1 {
  filter:drop-shadow(0px 0px 15px white);
  font-size: 12px;
}

.Thunderstorm {
  background-image: url("images/thunderstorm.jpg");
}

.Drizzle {
  background-image: url("images/drizzle.jpg");
}

.Rain {
  background-image: url("images/rain.jpg");
}

.Snow {
  background-image: url("images/snow.jpg");
}

.Atmosphere {
  background-image: url("images/atmosphere.jpg");
}

.Clear1 {
  background-image: url("images/clear1.jpg");
}

.Clear2 {
  background-image: url("images/clear2.jpg");
}

.Clear3 {
  background-image: url("images/clear3.jpg");
}

.Clouds {
  background-image: url("images/clouds.jpg");
}

.fewClouds {
  background-image: url("images/fewClouds.jpg");
}

.moderateClouds {
  background-image: url("images/moderateClouds.jpg");
}

.heavyClouds {
  background-image: url("images/heavyClouds.jpg");
}

.overcastClouds {
  background-image: url("images/overcastClouds.jpg");
}