.App {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 100px;
  width: 600px;
}

.Thunderstorm {
  background-image: url("images/Thunderstorm.jpg");
  background-size: auto;
}

.Drizzle {
  background-image: url("images/Drizzle.jpg");
  background-size: auto;
}

.Rain {
  background-image: url("images/Rain.jpg");
  background-size: auto;
}

.Snow {
  background-image: url("images/Snow.jpg");
  background-size: auto;
}

.Atmosphere {
  background-image: url("images/Atmosphere.jpg");
  background-size: auto;
}

.Clear {
  background-image: url("images/Clear.jpg");
  background-size: auto;
}

.Clouds {
  background-image: url("images/Clouds.jpg");
  background-size: auto;
}